@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  transition: background-color 0.3s ease, color 0.3s ease;
}

body.dark {
  background-color: black;
  color: white;
}

body:not(.dark) {
  background-color: white;
  color: black;
}

.dark .toaster {
  --background: 240 10% 3.9%;
  --foreground: 0 0% 98%;
  --muted: 240 3.7% 15.9%;
  --muted-foreground: 240 5% 64.9%;
}

